# Intellij
.idea/
target/
.bsp/
# -> this plus the sbt.json file was auto created by idea, not sure if it should be shared or not, so I ignored it

# Maven
log/
target/

# Gradle
.gradle/
build/
pom.xml

# sbt
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/
logs/
project/.sbtserver
.sbtserver/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Sonar
.sonar/

# Application
AnnoDominiScala.log

# VSCode
.vscode
.bloop

# Metals
.metals
project/.bloop
metals.sbt

# saves
*.xml

# don't include scala worksheets:
*.sc